{% sw_extends '@@SwagB2bPlatform/storefront/layout/_b2blayout.html.twig' %}

{% block base_content %}
<div class="module-offer">
    {% block b2b_offer %}
{#        {{ dump(page) }}#}
{#        {{ dump(page.orderFrom|date('Y-m-d')) }}#}
{#        {{ dump(page.orderTo|date('Y-m-d')) }}#}
    {% endblock %}
</div>
{% endblock %}
