{% sw_extends '@StrackIntegrations/storefront/page/orders/order-items.html.twig' %}

{% block b2b_order_items %}

    {% block b2b_offer_items %}
        <h2>offer items</h2>
    {% endblock %}

    {{ parent() }}
{% endblock %}
