{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget-price.html.twig' %}

{% block buy_widget_price_content %}
    {{ parent() }}
    {% if page.product.calculatedPrice.hasError is defined and page.product.calculatedPrice.hasError is true %}
        <div class="strack-customer-price-icon strack-customer-price-error" title="{{ 'StrackIntegrations.productPage.customerPriceError'|trans|sw_sanitize }}">
            {% sw_icon 'warning' %}
        </div>
    {% else %}
        <div class="strack-customer-price-icon strack-customer-price-success" title="{{ 'StrackIntegrations.productPage.customerPriceSuccess'|trans|sw_sanitize }}">
            {% sw_icon 'checkmark-circle' %}
        </div>
    {% endif %}
{% endblock %}
