<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>API Config</title>
        <title lang="de-DE">API-Konfiguration</title>
        <input-field type="text">
            <name>clientId</name>
            <label>Client ID</label>
        </input-field>
        <input-field type="password">
            <name>clientSecret</name>
            <label>Client Secret</label>
        </input-field>
        <input-field type="url">
            <name>accessTokenUri</name>
            <label>Access Token URI</label>
        </input-field>
        <input-field type="url">
            <name>scope</name>
            <label>Scope URI</label>
        </input-field>
        <input-field type="url">
            <name>apiDomain</name>
            <label>API Domain</label>
        </input-field>
    </card>
    <card>
        <title>Live Price API Config</title>
        <title lang="de-DE">Live-Preis-API-Konfiguration</title>
        <input-field type="text">
            <name>priceEndpoint</name>
            <label>Price Endpoint</label>
            <label lang="de-DE">Preis Endpunkt</label>
        </input-field>
        <input-field type="text">
            <name>priceSoapAction</name>
            <label>Price SOAPAction</label>
            <label lang="de-DE">Preis SOAPAction</label>
        </input-field>
        <input-field type="bool">
            <name>testModeOn</name>
            <defaultValue>0</defaultValue>
            <label>Test mode active</label>
            <label lang="de-DE">Test Modus Aktiv</label>
            <helpText>If active, all price calls will use debtor number from below</helpText>
            <helpText lang="de-DE">Wenn aktiviert, werden alle Preisabfragen die Debitorennummer von unten verwenden.
            </helpText>
        </input-field>
        <input-field type="text">
            <name>testModeDebtorNumber</name>
            <label>Debtor number (test only)</label>
            <label lang="de-DE">Debitorennummer (Test)</label>
        </input-field>
    </card>
    <card>
        <title>Order API Config</title>
        <title lang="de-DE">Bestell-API-Konfiguration</title>
        <input-field type="text">
            <name>contactEndpoint</name>
            <label>Contact Endpoint</label>
            <label lang="de-DE">Kontakt Endpunkt</label>
        </input-field>
        <input-field type="text">
            <name>orderEndpoint</name>
            <label>Order Endpoint</label>
            <label lang="de-DE">Order Endpunkt</label>
        </input-field>
        <input-field type="text">
            <name>orderItemsEndpoint</name>
            <label>Order Items Endpoint</label>
            <label lang="de-DE">Bestellpositionen Endpunkt</label>
        </input-field>
        <input-field type="bool">
            <name>orderTestModeOn</name>
            <defaultValue>0</defaultValue>
            <label>Test mode active</label>
            <label lang="de-DE">Test Modus Aktiv</label>
            <helpText>If active, all order calls will use customer number from below</helpText>
            <helpText lang="de-DE">Wenn aktiviert, werden alle Bestellabfragen die Kundennummer von unten verwenden.
            </helpText>
        </input-field>
        <input-field type="text">
            <name>orderTestCustomerNumber</name>
            <label>Customer number (test only)</label>
            <label lang="de-DE">Kundennummer (Test)</label>
        </input-field>
    </card>
</config>
