{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_aside_actions %}
  {{ parent() }}
  {% block page_checkout_aside_actions_cart_export %}
    <div class="dropdown checkout-aside-action">
      <button class="btn btn-light btn-lg begin-checkout-btn dropdown-toggle w-100"
        type="button"
        id="strack-integrations-cart-export-dropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        Warenkorb exportieren
      </button>
      <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
        <li>
          <a class="dropdown-item" href="#" data-strack-cart-export-button data-strack-cart-export-type="csv">
            als CSV
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#" data-strack-cart-export-button data-strack-cart-export-type="xlsx">
            als XLSX
          </a>
        </li>
      </ul>
    
    </div>
  {% endblock %}
{% endblock %}